/* comment out */

/* Navigation Links */
nav ul li{
	text-align: center;
	font-family: "Ephesis", cursive;
	font-size: 40px;
	list-style-type: none;
	letter-spacing: 3.5px;
	display: inline-block;
	margin: 0 80px;
}
/*nav ul li a{
	text-decoration: none;
	color: #000000;
}
nav ul li a:hover{
	color: #FF8DA1;
}*/
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	color: #FF8DA1;
}
/* Outline Bordering Navigation Section */
#top-line{
	position: absolute;
	top: 150px;
	left: 40px;
	width: 95%;
}
#vline1{
	position:absolute;
	top: 70px;
	left: 340px;
}
#vline2{
	position:absolute;
	top: 70px;
	left: 635px;
}
#vline3{
	position:absolute;
	top: 70px;
	left: 970px;
}
#vline4{
	position:absolute;
	top: 70px;
	left: 1265px;
}
/* Homepage Substance */
#fan1{
	position:absolute;
	top: 200px;
	left: 50px;
	display: block;
}
#fan2{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 200px;
	left: 635px;
	display: block;
}
#fan3{
	position:absolute;
	top: 240px;
	right: 50px;
	display: block;
}
#fan4{
	position:absolute;
	top: 700px;
	left: 150px;
	display: block;
}
#fan5{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 700px;
	left: 650px;
	display: block;
}
#fan6{
	position:absolute;
	top: 700px;
	right: 250px;
	display: block;
}
#fan7{
	position:absolute;
	top: 1300px;
	left: 100px;
	display: block;
}
#fan8{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 1300px;
	left: 550px;
	display: block;
}
#fan9{
	position:absolute;
	top: 1300px;
	right: 100px;
	display: block;
}
#fan10{
	position:absolute;
	top: 1900px;
	left: 130px;
	display: block;
}
#fan11{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 1900px;
	left: 600px;
	display: block;
}
body{
	padding-bottom: 50px;
}